$theme:(
  "light" : (
    bg-color:#fff,
    primary: #2A85F4,
    primary-hover: rgba(#2A85F4,.8),
    primary-active: rgba(#2A85F4,.6),
    text-title: #010913,
    text-sub-title: rgba(#010913,.8),
    text-desc: rgba(#010913,.6),
    tab-color: #666,
    tab-active-color: #e6a23c,
    tab-border-color: #eee,
    home-bg-color: '#fBf6f8',
  ),
  "dark": (
    bg-color:#000,
    primary: #2A85F4,
    primary-hover: rgba(#2A85F4,.8),
    primary-active: rgba(#2A85F4,.6),
    text-title: #fff,
    text-sub-title: rgba(#fff,.8),
    text-desc: rgba(#fff,.6),
    tab-color: #fff,
    tab-active-color: #e6a23c,
    tab-border-color: #222,
    home-bg-color: '#333',
  )
);


$success: #67c23a;
$warning: #e6a23c;
$danger: #f56c6c;
$error: #f56c6c;
$info: #909399;