
// default color
$base-primary: #2A85F4;
$base-primary-hover: rgba($base-primary,.8);
$base-primary-active: rgba($base-primary,.6);
$base-bg-color:#ECF4FE;
$base-text-title: #010913;
$base-text-sub-title: rgba(#010913,.8);
$base-text-desc: rgba(#010913,.6);
$base-disabled: #64A6F7;
